.box {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 2px solid #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
}

.box-disabled {
  pointer-events: none;
  background-color: rgb(121, 121, 121);
}

.btn-restart {
  margin-bottom: 30px;
  border: none;
  background-color: #1777bb;
  color: #fff;
  padding: 9px 29px;
  font-size: 18px;
}

#game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}
